<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.google.appengine.eclipse.wtp.GaeLaunchConfigurationType">
<listAttribute key="org.eclipse.jdt.launching.CLASSPATH">
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Applications/eclipse/plugins/com.google.appengine.eclipse.sdkbundle_1.9.13/appengine-java-sdk-1.9.13/lib/appengine-tools-api.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.DEFAULT_CLASSPATH" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/Home"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.google.appengine.tools.development.DevAppServerMain"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--port=8888 --disable_update_check /Users/emilie/Documents/cs263/cs263project/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/appengine-try-java-eclipse"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-javaagent:/Applications/eclipse/plugins/com.google.appengine.eclipse.sdkbundle_1.9.13/appengine-java-sdk-1.9.13/lib/agent/appengine-agent.jar -Xmx512m -Xbootclasspath/p:/Applications/eclipse/plugins/com.google.appengine.eclipse.sdkbundle_1.9.13/appengine-java-sdk-1.9.13/lib/override/appengine-dev-jdk-overrides.jar -XstartOnFirstThread -Dappengine.fullscan.seconds=5 -Ddatastore.default_high_rep_job_policy_unapplied_job_pct=50"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="/Users/emilie/Documents/cs263/cs263project/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/appengine-try-java-eclipse"/>
<stringAttribute key="server-id" value="Google App Engine at localhost"/>
</launchConfiguration>
