body {
    font-family: Verdana, Helvetica, sans-serif;
    background-color: #cbffe2;
    text-align: center;
    background-image: url("../images/icon.png");
	background-position: right bottom; /*Positioning*/
	background-repeat: no-repeat; /*Prevent showing multiple background images*/
}

h1 {
	color: #555555;
	font-size: 25px;
    font-family: Verdana, Helvetica, sans-serif;
    margin-bottom: 20px;
}

h2 {
	color: #555555;
	font-size: 15px;
    font-family: Verdana, Helvetica, sans-serif;
}

p, lostForm p, foundForm p, matchesBox p {
    color: #888888;
	font-size: 12px;
    font-family: Verdana, Helvetica, sans-serif;
}

m {
	font-style: normal !important;
}

#wrapper {
	padding-top: 50px;
	width: 635px;
	margin: 0 auto;
}

#lostForm {
	width: 280px;
	display: inline-block;
	float: left;
	border: 2px solid;
	padding: 10px;
	border-radius: 25px;
	border-color: #4082a3;
	margin-bottom: 100px;
}

#lostUpload {
	width: 530px;
	display: inline-block;
	float: left;
	border: 2px solid;
	padding: 10px;
	border-radius: 25px;
	border-color: #4082a3;
}

#foundForm {
	width: 280px;
	display: inline-block;
	float: right;
	border: 2px solid;
	padding: 10px;
	border-radius: 25px;
	border-color: #4082a3;
	margin-bottom: 100px;
	
}

#foundUpload {
	width: 530px;
	display: inline-block;
	float: right;
	border: 2px solid;
	padding: 10px;
	border-radius: 25px;
	border-color: #4082a3;
	
}

#matchesBox {
	width: 300px;
	display: inline-block;
	float: center;
	border: 2px solid;
	padding: 10px;
	border-radius: 25px;
	border-color: #4082a3;
	margin: 10px;
	
}

.insideUl{
	color: #888888;
	font-size: 12px;
    font-family: Verdana, Helvetica, sans-serif;
}

ul{
	color: #888888;
}

.tooltip {
	display:none;
	position:absolute;
	width: 300px;
	border:1px solid #4082a3;
	background-color:#888888;
	border-radius:5px;
	padding:10px;
	color:#fff;
	font-size:12px Verdana;
}