body {
    font-family: Verdana, Helvetica, sans-serif;
    background-color: #cbffe2;
    text-align: center;
}

h1 {
	color: #555555;
	font-size: 25px;
    font-family: Verdana, Helvetica, sans-serif;
    margin-bottom: 20px;
}

h2 {
	color: #555555;
	font-size: 15px;
    font-family: Verdana, Helvetica, sans-serif;
}

p, lostForm p, foundForm p, matchesBox p {
    color: #888888;
	font-size: 12px;
    font-family: Verdana, Helvetica, sans-serif;
}

#wrapper {
	padding-top: 50px;
	width: 635px;
	margin: 0 auto;
}

#lostForm {
	width: 280px;
	display: inline-block;
	float: left;
	border: 2px solid;
	padding: 10px;
	border-radius: 25px;
	border-color: #4082a3;
}

#lostUpload {
	width: 530px;
	display: inline-block;
	float: left;
	border: 2px solid;
	padding: 10px;
	border-radius: 25px;
	border-color: #4082a3;
}

#foundForm {
	width: 280px;
	display: inline-block;
	float: right;
	border: 2px solid;
	padding: 10px;
	border-radius: 25px;
	border-color: #4082a3;
	
}

#foundUpload {
	width: 530px;
	display: inline-block;
	float: right;
	border: 2px solid;
	padding: 10px;
	border-radius: 25px;
	border-color: #4082a3;
	
}

#matchesBox {
	width: 300px;
	display: inline-block;
	float: center;
	border: 2px solid;
	padding: 10px;
	border-radius: 25px;
	border-color: #4082a3;
	margin-bottom: 10px;
	
}

.insideUl{
	color: #888888;
	font-size: 12px;
    font-family: Verdana, Helvetica, sans-serif;
}

ul{
	color: #888888;
}